In [1]:
#this is a list
l = [1,2,3]

In [2]:
#this is a tuple
t = (1,2,3)

In [3]:
t

(1, 2, 3)

In [4]:
len( t )

3

In [5]:
t = ('one', 2)

In [6]:
t[0]

'one'

In [7]:
t[1]

2

In [8]:
t[-1]

2

In [9]:
t = ('one', 'two', 'three', 4, 5, 6)

In [11]:
t[::-1]

(6, 5, 4, 'three', 'two', 'one')

In [12]:
t.index('one')

0

In [14]:
t.index(5)

4

In [16]:
t.count(4)

1

In [18]:
l = [1, 2, 3]

In [19]:
t = (1, 2, 3)

In [23]:
print ( l ) 
print ( t )

[1, 2, 3]
(1, 2, 3)

In [24]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [25]:
t = ('one', 2, 3.14)

In [26]:
t

('one', 2, 3.14)